[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[dn]
C  = RO
ST = Cluj
L  = Cluj Napoca
O  = Sorin Bolos
CN = clujpug.ro

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = clujpug.ro
DNS.2 = www.clujpug.ro
