header {
  height: 100vh;
}

.legend-image {
    height: 30px;
    width: 30px;
}

.column-legend-image {
    width: 50px;
}

.legend-table {
    margin: 0px;
}

section {
  padding: 40px;
}

.image-nav-link {
    opacity: 0.6;
    margin-left: 4px;
}

.nav-link:hover {
    opacity: 0.9;
}

.section-title {
    margin: 10px 10px 50px 10px;
}

h1 {
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 992px) {
  section {
    padding-left: 0px;
    padding-right: 0px;
  }

  #page-title {
      font-size: 1rem;
  }

  .navbar-toggler {
      font-size: 1rem;
      padding: .15rem .5rem;
  }
}